<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python38\python.exe|c:\python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\shiftnote" />
    <add key="WSGI_HANDLER" value="\shiftnote.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="shiftnote.settings" />
  </appSettings>
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>