{% extends 'main/base.html' %}
{% block content %}
<div class='container'>
    <div class="card card-body m-3">
        <h3 class="card-title">Password Reset</h3>
        <p class="card-text">Forgotten your password? Enter your email address below to receive an email for setting a new one.</p>
        <form method="post" action="">
            {% csrf_token %}
            <p> {{form.email}} </p>
            <input class="btn btn-info" type="submit" value="Send">
        </form>
    </div>
</div>
{% endblock  %}